// Place all the styles related to the passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.txt{
  width:600px;
  height:400px;
}

.box {border-style: double}

p.source_sentence {
	color: red;
}

p.translate_sentence {
	color: green;
}
